logs
project/project
project/target
target
tmp
.project
.classpath
.settings
.idea
.idea_modules
techbee-pilot.iml
Techbee-pilot.iml
conf/build.version
data-dev
data-test
.history
dist
*.iml
/out
/RUNNING_PID
